# --- FRONTEND (Vite) ---
VITE_CESIUM_ION_TOKEN=

# --- BACKEND (Python) ---
GEMINI_API_KEY=
OPENSKY_USERNAME=
OPENSKY_PASSWORD=
N2YO_API_KEY=
NEWS_API_KEY=

# --- OPTIONAL ---
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
